/*--- who are we & our mission - start ---*/
#who_are_we, #our_mission{
    display: flex;
    align-items: center;
}
#who_are_we img, #our_mission img{
    width: 400px;
    margin-right: 50px;
}
#who_are_we img{
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5));
}
#who_are_we p, #our_mission p{
    font-size: 30px;
    text-align: justify;
}
/*--- who are we & our mission - end ---*/

/*--- staff - start ---*/
#staff{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#staff_description{
    margin: 0 0 20px;
    font-size: 30px;
    text-align: center;
}
#staff_members{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    width: 100%;
}
.staff_member{
    background-color: black;
    aspect-ratio: 2/3;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    border-radius: 5px;
    text-align: center;
    transition: 0.25s;
}
.staff_member:hover{
    background-color: white;
    color: black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.staff_member img{
    width: 60%;
    border-radius: 1000px;
    margin-bottom: 15px;
}
.staff_member p{
    font-size: 30px;
    margin: 0;
}
/*--- staff - end ---*/

/*big tablets styling*/
@media(max-width:1079px){
    /*--- banner start ---*/
    #banner{
        height: 90vh;
    }
    /*--- banner end ---*/
    
    /*--- who are we & our mission - start ---*/
    #who_are_we img, #our_mission img{
        width: 375px;
        margin-right: 30px;
    }
    /*--- who are we & our mission - end ---*/
}

/*regular tablets styling*/
@media(max-width:850px){
    /*--- banner start ---*/
    #banner{
        height: 100vh;
    }
    #banner_content img{
        width: 600px;
    }
    #banner_content h1{
        width: 600px;
        text-align: center;
    }
    /*--- banner end ---*/
    
    /*--- who are we & our mission - start ---*/
    #who_are_we, #our_mission{
        flex-direction: column;
    }
    #who_are_we img, #our_mission img{
        width: 65%;
        margin: 0 0 50px;
    }
    #who_are_we h2, #our_mission h2{
        text-align: center;
    }
    /*--- who are we & our mission - end ---*/
}

/*phone styling*/
@media(max-width:450px){
    /*--- who are we & our mission - start ---*/
    #who_are_we img, #our_mission img{
        width: 100%;
        margin-bottom: 25px;
    }
    /*--- who are we & our mission - end ---*/
 
    /*--- staff - start ---*/
    #staff_description{
        text-align: justify;
    }
    #staff_members{
        width: 80%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 5px;
    }
    .staff_member{
        padding: 25px;
    }
    /*--- staff - end ---*/
}