section{
    padding: 5vh 5vw 10vh;
}

#description{
    display: flex;
}
#media{
    width: 40%;
    margin-right: 50px;
    border-radius: 30px;
    overflow: hidden;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
#media img{
    aspect-ratio: 1/1;
    min-height: 500px;
    height: 500px;
    background-color: rgb(64, 64, 64);
}
#media video{
    aspect-ratio: 1/1;
    min-height: 500px;
    height: 500px;
    background-color: rgb(64, 64, 64);
}

#text{
    min-height: 400px;
    width: 45%;
    padding: 50px;
    background-color: white;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.stat{
    display: flex;
    font-size: 30px;
    margin: 0 0 20px;
}
.stat_name{
    width: 150px;
    font-weight: bold;
    margin: 0;
}
.stat_points{
    margin: 0 10px 0 0;
}
.stat_content{
    margin: 0;
}

/*big tablet styling*/
@media(max-width:1079px){    
    #description{
        flex-direction: column;
    }
    #text h1{
        text-align: center;
    }
    #media{
        width: 100%;
        margin-right: 0;
        margin-bottom: 50px;
        aspect-ratio: 1/1;
    }
    #media img{
        min-height: 100%;
        height: auto;
    } 
    #media video{
        min-height: 100%;
        height: auto;
    }    
    #text{
        min-height: 400px;
        width: auto;
        align-items: center;
    }    
    .stat_name{
        width: 175px;
    }
}