/*--- general - start ---*/
@font-face {
    font-family: "Source sans pro";
    src: url(fonts/SourceSansPro-Regular.ttf);
}
*{
    font-family: "Source sans pro";
}
body{
    margin: 0;
    background-color: rgb(250, 250, 255);
}

h1{
    font-size: 55px;
    margin: 0 0 15px;
}
h2{
    font-size: 45px;
    margin: 0 0 20px;
}
h3{
    font-size: 35px;
    margin: 0 0 15px;
}
h4{
    font-size: 30px;
    margin: 0 0 15px;
}
h5{
    font-size: 25px;
    margin: 0 0 5px;
}

.top_section{
    padding: 20vh 5vw 10vh;
}
.middle_section{
    padding: 10vh 5vw;
}
.bottom_section{
    padding: 10vh 5vw 20vh;
}
/*--- general - end ---*/

/*--- header - start ---*/
header{
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 0px 5vw;
    height: 10vh;
}
header a, header p{
    color: black;
    font-size: 25px;
    margin-left: 15px;
}
header i{
    font-size: 30px;
    margin-left: 25px;
}
#header_icon{
    font-size: 30px;
}
/*--- header - end ---*/

/*--- footer - start ---*/
footer{
    padding: 5vh 5vw 5vw;
}
#footer_content{
    background-color: black;
    padding: 5vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    border-radius: 30px;
}

#footer_logo img{
    width: 100%;
}
#footer_logo h3{
    color: white;
}

#footer_socials{
    display: flex;
    flex-direction: column;
}
.footer_social{
    width: 95%;
    padding: 5px;
    background-color: white;
    border-radius: 1000px;
    min-height: 50px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
    transition: 0.25s;
}
.footer_social:hover{
    background-color: black;
    color: white;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}
.footer_social i{
    font-size: 40px;
    margin-right: 15px;
}
.footer_social p{
    font-size: 30px;
    margin: 0;
}

#footer_links{
    font-size: 30px;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
}
#footer_links a{
    color: white;
}
/*--- footer - end ---*/

/*big tablet styling*/
@media(max-width:1079px){   
    /*--- general - start ---*/
    .top_section{
        padding: 15vh 5vw 7.5vh;
    }
    .middle_section{
        padding: 7.5vh 5vw;
    }
    .bottom_section{
        padding: 7.5vh 5vw 15vh;
    }
    /*--- general - end ---*/ 
}

/*regular tablet styling*/
@media(max-width:850px){

    /*--- footer - start ---*/
    #footer_content{
        grid-template-columns: repeat(2, 1fr);
    }
    /*--- footer - end ---*/   
}

/*phone styling*/
@media(max-width:450px){
    /*--- general - start ---*/
    h1{
        font-size: 50px;
    }
    h2{
        font-size: 40px;
    }
    /*--- general - end ---*/

    /*--- header - start ---*/
    header a, header p, header i{
        font-size: 18px;
        margin-left: 10px;
    }
    #header_icon{
        margin-left: 15px;
    }
    /*--- header - end ---*/

    /*--- footer - start ---*/
    #footer_content{
        grid-template-columns: repeat(1, 1fr);
        padding: 10vw;
    }
    #footer_links{
        font-size: 25px;        
    }

    .footer_social p{
        font-size: 25px;
    }
    /*--- footer - end ---*/  
}