/*--- header - start ---*/
#banner{
    display: flex;
    align-items: center;
}
#banner img{
    margin-right: 50px;
}
#banner p{
    font-size: 30px;
    text-align: justify;
}
/*--- header - end ---*/

/*--- justification - start ---*/
#justification{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#justification h2{
    text-align: center;
}
#justification_description{
    font-size: 30px;
    text-align: justify;
}
#justification_cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}
.justification_card{
    background-color: rgb(225, 225, 225);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    aspect-ratio: 3/2;
}
.justification_card p{
    font-size: 30px;
    text-align: center;
    margin: 0;
}
/*--- justification - end ---*/

/*--- portfolio - start ---*/
#portfolio{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#projects{
    display: grid;
    grid-template-columns: repeat(3, 400px);
    grid-gap: 5px;
}
.project{
    width: 100%;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 400px;
}
.project_background{
    width: inherit;
    height: inherit;
    aspect-ratio: 1/1;
    background-color: rgb(225, 225, 225);
}
.project_content{
    width: 350px;
    height: 350px;
    margin-top: -400px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.25s;
}
.project_content:hover{
    background-color: rgba(0, 0, 0, 0.5);
}
.project_content img{
    width: 70%;
}
.project_content p{
    font-size: 30px;
    text-align: center;
    margin: 10px 0 0;
    color: white;
    text-shadow: 0 0 5px black;
}
/*--- portfolio - end ---*/

/*--- contact - start ---*/
#contact{
    padding: 10vh 5vw;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#contact a{
    background-color: black;
    color: white;
    font-size: 30px;
    text-decoration: none;
    padding: 5px 30px;
    border-radius: 5px;
    transition: 0.25s;
}
#contact a:hover{
    background-color: white;
    color: black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
/*--- contact - end ---*/

/*big tablets styling*/
@media(max-width:1079px){
    /*--- header - start ---*/
    #banner{
        flex-direction: column;
    }
    #banner img{
        margin-right: 0;
        margin-bottom: 50px;
    }
    #banner h1{
        text-align: center;
    }
    /*--- header - end ---*/
    
    /*--- portfolio - start ---*/
    #projects{
        display: grid;
        grid-template-columns: repeat(3, 275px);
        grid-gap: 10px;
    }
    .project{
        width: 275px;
        height: 275px;
    }
    .project_background{
        width: inherit;
        height: inherit;
        aspect-ratio: 1/1;
        background-color: rgb(225, 225, 225);
    }
    .project_content{
        width: 235px;
        height: 225px;
        margin-top: -275px;
        padding: 20px;
    }
    /*--- portfolio - end ---*/
    
    /*--- contact - start ---*/
    #contact{
        padding: 7.5vh 5vw;
        min-height: 30vh;
    }
    /*--- contact - end ---*/
}

/*regular tablets styling*/
@media(max-width:850px){
    /*--- portfolio - start ---*/
    #projects{
        grid-template-columns: repeat(2, 325px);
    }
    .project{
        width: 325px;
        height: 325px;
    }
    .project_content{
        width: 275px;
        height: 275px;
        margin-top: -325px;
    }
    /*--- portfolio - end ---*/
}

/*phone styling*/
@media(max-width:450px){
    /*--- header - start ---*/
    #banner img{
        width: 100%;
    }
    /*--- header - end ---*/

    /*--- justification - start ---*/
    #justification_cards{
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 5px;
    }
    /*--- justification - end ---*/

    /*--- portfolio - start ---*/
    #portfolio h2{
        text-align: center;
    }
    #projects{
        grid-template-columns: repeat(1, 340px);
    }
    .project{
        width: 340px;
        height: 340px;
    }
    .project_content{
        width: 290px;
        height: 290px;
        margin-top: -360px;
    }
    /*--- portfolio - end ---*/

    /*--- contact - start ---*/
    #contact h2{
        text-align: center;
    }
    /*--- contact - end ---*/
}