/*--- banner - start ---*/
#banner{
    padding: 0vh 5vw 5vh;
}
#banner_content{
    aspect-ratio: 19/9;
    width: 100%;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
#banner_picture{
    position: relative;
    width: 100vw;
    filter: grayscale(40%);
}
#banner_text{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 750px;
}
#banner_text img{
    width: 100%;
    filter: drop-shadow(0 0 10px black);
}
#banner_text h1{
    color: white;
    text-shadow: 0 0 10px black;
}
/*--- banner - end ---*/

/*--- who are we - start ---*/
#who_are_we{
    display: flex;
    align-items: center;
}
#who_are_we_picture{
    height: 450px;
    width: 450px;
    aspect-ratio: 1/1;
    margin-right: 50px;
    background-color: rgb(64, 64, 64);
    display: flex;
    justify-content: center;
    align-items: center;
}
#who_are_we_picture img{
    width: 80%;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5));
}
#who_are_we_text p{
    font-size: 30px;
    text-align: justify;
    width: fit-content;
}
/*--- who are we - end ---*/

/*--- our mission - start ---*/
#our_mission_content{
    display: flex;
    align-items: center;
    justify-content: end;
    overflow: hidden;
    border-radius: 30px;
    background-color: rgb(64, 64, 64);
}
#our_mission_picture{
    aspect-ratio: 1/1;
    width: 45%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
#our_mission_picture img{
    width: 700px;
    height: 700px;
    transform: scale(125%);
    aspect-ratio: 1/1;
    position: relative;
}
#our_mission_text{
    color: white;
    width: 55%;
    padding: 50px;
}
#our_mission_text p{
    font-size: 30px;
    text-align: justify;
}
/*--- our mission - end ---*/

/*--- services - start ---*/
#services{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#services_holder{
    display: grid;
    width: 80%;
    grid-template-columns: repeat(2, 400px);
    grid-gap: 30px;
    justify-content: center;
}
.service{
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    border-radius: 15px;
    overflow: hidden;
}
.service img{
    width: inherit;
    height: inherit;
}
.service_text_holder{
    width: inherit;
    height: inherit;
    margin-top: -400px;
    padding-top: 300px;
    opacity: 0.5;
    transition: 0.5s;
}
.service_text_holder:hover{
    padding-top: 0px;
    opacity: 1;
}
.service_text{
    width: inherit;
    height: inherit;
    background-color: rgb(64, 64, 64);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}
.service_text h3{
    margin-top: 30px;
}
.service_text p{
    font-size: 30px;
    margin: 0;
    text-align: justify;
    width: 80%;
}
/*--- services - end ---*/

/*--- flexing - start ---*/
#flexing_content{
    min-height: 20vh;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    background-color: rgb(200, 200, 200);
}
#flexing_content h2{
    text-align: center;
}
#brands{
    margin-top: 35px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 100px;
    row-gap: 75px;
    width: 100%;
}
#brands img{
    width: 100%;
    transform: scale(75%);
    filter: grayscale(100%);
    transition: 0.25s;
}
#brands img:hover{
    filter: grayscale(0%);
    transform: scale(80%);
}
/*--- flexing - end ---*/

/*--- customer comments - start ---*/
#customer_comments{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#comments{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
}
.comment{
    background-color: rgb(225, 225, 225);
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.comment_header{
    display: flex;
    justify-content: center;
    align-items: center;
}
.comment_header img{
    height: 85px;
    width: 85px;
    aspect-ratio: 1/1;
    margin-right: 10px;
    background-color: black;
    border-radius: 1000px;
}
.comment_header p{
    font-size: 25px;
    margin: 0;
}
.comment_content{
    font-size: 25px;
    text-align: justify;
    margin: 15px 0 0;
}
/*--- customer comments - end ---*/

/*--- staff - start ---*/
#staff{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#staff_members{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    width: 100%;
}
.staff_member{
    aspect-ratio: 21/30;
    padding: 25px;
    background-color: rgb(32, 32, 32);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    text-decoration: none;
    text-align: center;
    color: white;
    transition: 0.25s;
}
.staff_member:hover{
    background-color: white;
    color: black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.staff_member img{
    width: 60%;
    border-radius: 1000px;
    margin-bottom: 25px;
}
.staff_member p{
    font-size: 30px;
    margin: 0;
}
/*--- staff - end ---*/

/*--- contact - start ---*/
#contact_content{
    background-color: rgb(64, 64, 64);
    border-radius: 30px;
    display: flex;
    align-items: center;
    overflow: hidden;
}
#contact_picture{
    overflow: hidden;
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1/1;
}
#contact_picture img{
    width: 550px;
    height: 550px;
    transform: scale(125%);
}
#contact_text{
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}
#contacts_holder{
    display: flex;
    justify-content: center;
    align-items: center;
}
#contacts_holder form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#contacts_holder form input, #contacts_holder form textarea{
    width: 400px;
    border: 0;
    padding: 5px;
    min-height: 25px;
    margin: 0 0 5px;
    border-radius: 5px;
    font-size: 17.5px;
}
#contacts_holder form button{
    width: 100%;
    font-size: 25px;
    border: 0;
    padding: 5px;
    margin-top: 10px;
    border-radius: 5px;
    background-color: black;
    color: white;
    transition: 0.25s;
}
#contacts_holder form button:hover{
    background-color: rgb(225, 225, 225);
    color: black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
#contacts_holder hr{
    height: 420px;
    margin: 0 15px;
    width: 3px;
    border: 0;
    background-color: white;
    border-radius: 1000px;
}
#socials{
    display: flex;
    flex-direction: column;
}
#socials a{
    aspect-ratio: 1/1;
    background-color: black;
    width: 60px;
    height: 60px;
    margin: 7.5px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1000px;
    text-decoration: none;
    color: white;
    transition: 0.25s;
}
#socials a:hover{
    background-color: white;
    color: black;
}
#socials i{
    font-size: 30px;
}
/*--- contact - end ---*/