.service{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15vh 5vw;
    min-height: 70vh;
}
.service_illustration{
    width: 450px;
    margin-right: 50px;
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.25));
    transition-delay: 5s;
}
.service_text{
    transition-delay: 0.5s;
}
.service_description{
    text-align: justify;
}
.service p{
    font-size: 25px;
}
.service a{
    background-color: black;
    color: white;
    text-decoration: none;
    font-size: 25px;
    padding: 10px 30px;
    border-radius: 5px;
    transition: 0.25s;
}
.service a:hover{
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    color: black;
}

/*big tablet styling*/
@media(max-width:1079px){
    .service{
        min-height: 50vh;
    }
    .service_illustration{
        width: 450px;
    }
    .service_card{
        width: 210px;
    }
    .service_card img{
        height: 40%;
    }
}

/*regular tablet styling*/
@media(max-width:850px){
    .service{
        flex-direction: column;
    }
    .service_illustration{
        width: 350px;
        margin-right: 0;
        margin-bottom: 50px;
    }
    .service_text{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .service_description{
        text-align: justify;
    }
    h1{
        text-align: center;
    }
}

/*phone styling*/
@media(max-width:420px){
    .service_illustration{
        width: 250px;
        margin-right: 0;
        margin-bottom: 50px;
    }
    .service_cards{
        display: none;
    }
}